@model IEnumerable<AttendanceApp.UI.AttendanceReportModel>

<p>
    @Html.ActionLink("Create", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teachers.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Add Students
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teachers.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Students", "Index", "StudentAttendancy", new { id = item.ReportID })
            </td>
            <td>
                @Html.ActionLink("Edit", "Update", new { id = item.ReportID })
                @Html.ActionLink("Delete", "Delete", new { id = item.ReportID })
            </td>
        </tr>
}
    </tbody>
</table>
