@model IEnumerable<AttendanceApp.UI.AttendanceReportModel>

<p>
    <a href='@Url.Action("Create", "Report")' class="btn btn-outline-secondary"><img class="buttonIcon" src="~/Images/add.png" /> Create New Report</a>
</p>
<table id="indexList" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportID)
            </th>
            <th>
                Teachers Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Add Students
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReportID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teachers.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Students", "Index", "StudentAttendancy", new { id = item.ReportID })
            </td>
            <td>
                <a href='@Url.Action("Update", new { id = item.ReportID })' class="btn btn-light btn-sm"><img class="buttonIcon" src="~/Images/edit.png" /> Edit</a>
                <a href='@Url.Action("Delete", new { id = item.ReportID })' class="btn btn-light btn-sm"><img class="buttonIcon" src="~/Images/delete.png" /> Delete</a>                
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a href='@Url.Action("Index", "Home")' class="btn btn-light"><img class="returnButtonIcon" src="~/Images/return.png" /> Back To Home Page</a>
</div>
